*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #f5f6fa;
}

.toolbox-cont{
     height: 5rem;
     background-color: #4b6584;
     display: flex;
     align-items: center;
}

.toolbox-cont > * {
    margin-left: 4rem;
    border-radius: 5px;
}

.toolbox-priority-cont{
    height: 3rem;
    width: 14rem;
    background-color: #485460;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action-btn-cont{
    height: 3rem;
    width: 6rem;
    background-color: #485460;
    display: flex;
}
.action-btn-cont > *{
    width: 50%;
    color: #d1d8e0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.color{
    height: 1.5rem;
    width: 1.5rem;
    /* background-color: lightsalmon; */
    border-radius: 3px;
}

.lightred{
    background-color: #fc5c65;
}
.lightblue{
    background-color: #2bcbba;
}
.lightpur{
    background-color: #a55eea;
}
.lightgreen{
    background-color: #26de81;
}

.action-btn-cont > *:hover{
    background-color: #747d8c;
}
 
.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: lightblue;
    position: absolute;
    top: calc( ( 100vh - 50vh ) / 2);
    left: calc( ( 100vw - 45vw ) / 2);  
    display: none;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.textarea-cont{
    height: 100%;
    width: 85%;
    border: none;
    outline: none;
    background-color: #dfe4ea;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
}

.priority-colors-cont{
    background-color: #a4b0be;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.priority-color{
    height: 3rem;
    width: 3rem;
    border-radius: 5px;
}

.border{
    border: 3px solid black;
}

.ticket-cont{
    height: 13rem;
    width: 16rem;
    background-color: #f1f2f6;
}
.ticket-color{
    height: 1rem;
    /* background-color: lightpink; */
}
.ticket-id{
    height: 2rem;
    padding: 0.4rem;
}
.task-area{
    height: calc( 100% - 5rem );
    padding: 0.4rem;
    outline: none;
}
.ticket-lock{
    height: 2rem;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
    font-size: 1.5rem;
    align-items: center;
    color: #a5b1c2;
}

.main-cont{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .modal-cont {
        width: 60vw;
        left: calc( ( 100vw - 60vw ) / 2 );
    }
}

@media screen and (max-width: 426px){
    .modal-cont {
        width: 75vw;
        height: 55vh;
        top: calc( ( 100vh - 55vh ) / 2 );
        left: calc( ( 100vw - 75vw ) / 2 );
        flex-direction: column;
    }
    .textarea-cont {
        width: 100%;
        height: 75%;
    }
    .priority-colors-cont{
        flex-direction: row;
        width: 100%;
        height: 25%;
    }
    .priority-color {
        width: 17%;
    }
    .toolbox-cont > *{
        margin-left: 2rem;
        border-radius: 2px;
    }
}